
// variables

@revoladeRed : #c41230;
@revoladeBlue : #4a2a94;
@revoladeGrey : #707070;


// mixins

.red-button{
	background: @revoladeRed;
	color: #fff;
	font-family: 'Helvetica-Condensed';
}

.small-red{
	width: 140px;
	height: 45px;
	font-size: 15px;
	border: none;
	.red-button;
}

.big-red{
	width: 655px;
	height: 65px;
	border: solid 1px #fff;
	text-align: left;
	padding-left: 20px;
	font-size: 20px;
	.red-button;
}

.red-label{
	width: 442px;
	height: 68px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 18px;
	.red-button;
}


.blue-button{
	background-color: @revoladeBlue;
	color: #fff;
	border: none;
	font-family: 'Helvetica-Condensed';
}

.small-blue{
	width: 160px;
	height: 45px;
	font-size: 15px;
	.blue-button;
}

.big-blue{
	width: 340px;
	height: 65px;
	font-size: 30px;
	position: absolute;
	left: 72px;
	bottom: 118px;
	background: @revoladeBlue;
	.blue-button;
}

.blue-chap{
	height: 45px;
	width: 50px;
	position: absolute;
	.blue-button;
}


.blue-label{
	width: 442px;
	height: 68px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 20px;
	.blue-button;
}


.mood-indicator-negative-blocked,.mood-indicator-positive-blocked{
	display: none;
}

//fonts

@font-face {
  font-family: 'Helvetica-Bold';
  src: url('../media/fonts/HelveticaNeueLTStd-BdCn.eot'); /* IE9 Compat Modes */
  src: url('../media/fonts/HelveticaNeueLTStd-BdCn.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../media/fonts/HelveticaNeueLTStd-BdCn.woff') format('woff'), /* Modern Browsers */
       url('../media/fonts/HelveticaNeueLTStd-BdCn.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../media/fonts/HelveticaNeueLTStd-BdCn.svg#Helvetica-Condensed') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Helvetica-Condensed';
  src: url('../media/fonts/HelveticaNeueLTStd-LtCn.eot'); /* IE9 Compat Modes */
  src: url('../media/fonts/HelveticaNeueLTStd-LtCn?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../media/fonts/HelveticaNeueLTStd-LtCn.woff') format('woff'), /* Modern Browsers */
       url('../media/fonts/HelveticaNeueLTStd-LtCn.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../media/fonts/HelveticaNeueLTStd-LtCn.svg#Helvetica-Condensed') format('svg'); /* Legacy iOS */
}


// styles

button:focus {outline:0;}
sup,sub{line-height: 0}

#documents-list div{
	text-align: center;
}

.slidebottom #menu{
	background: url(../media/images/revolade_buttons_sprite.png) -25px 52px;
}

li#startcall{
	background: url(../media/images/revolade_buttons_sprite.png) -109px 52px;
}

li#PI{
	background: url(../media/images/revolade_buttons_sprite.png) -158px 52px;
}

li#home{
	background: url(../media/images/revolade_buttons_sprite.png) -207px 52px;
}

li#savecall{
	background: url(../media/images/revolade_buttons_sprite.png) -254px 52px;
}

.ui-dialog .overlay-container > ul > li, .ui-dialog .information-overlay > ul > li{
	margin-bottom: 10px;
}

.ui-dialog{
		border: solid 5px #4a4a4a;
		padding:0;

		header{
			background: #4a4a4a;
			padding:20px;
			color: #fff;
			font-size: 18px;
		}

		header.red{
			background: @revoladeRed;
			text-align: center;	
		}

		p{
			margin-left:20px;
			margin-right:20px;
			color: #000;
			font-size: 15px;

			.red{
				color: @revoladeRed;
				font-size: 18px;
			}

			.blue{
				color:@revoladeBlue;
			}
		}

		ul{
			padding-right: 15px;
		}
		

		li{
			color: @revoladeBlue;
			line-height: 25px;
		

			span{
				color: #000;
			}

			ul{
				list-style-image:url('../media/images/line.png');
				padding-left: 25px;


				li{
					// text-indent:-18px;
					line-height: 25px;
				}
				
				// li:before{
				// 	// content:"—";
				// 	// position:relative; 
				// 	// left:-5px;
				// }
			}

		}

		.ui-dialog-titlebar{
			position: absolute;

			button{
				background: #492894;
				width: 180px;
				position: absolute;
				top: 441px;
				left: 420px;
				font-family: 'Helvetica-Condensed';
			}

			button:active{
				background: #492894;
			}

			button:after{
				content: 'OK';
				font-size: 20px;
				color: #fff;
			}
		}
	}


body{
	background: #4a4a4a;
	font-family: 'Helvetica-Condensed';

	div.greybar{
		height: 20px;
		width: 100%;
		background: #4a4a4a;
		position: absolute;
		z-index: 10;
	}
}





.body-container{
	background: url(../media/images/swoosh_bg.png);
	font-family: 'Helvetica-Condensed';

	.nav{
		margin-top: 20px;
		width: 100%;
		
		.red{
			.red-button;
			.small-red;
		}

		.blue{
			.small-blue;
		}

		.overlay-bound{
			// -webkit-transform: translate(0px,-8px);
		}

		.prev-chap{
			right: 160px;
			top: 20px;
			background-image: url(../media/images/prev-chap.png);
			background-repeat: no-repeat;
			background-position: 20px;
			.blue-chap;
		}

		.next-chap{
			right: 100px;
			top: 20px;
			background-image: url(../media/images/next-chap.png);
			background-repeat: no-repeat;
			background-position: 20px;
			.blue-chap;
		}


		.active{
			background: lighten(@revoladeBlue, 25%)
		}
		.active:first-child:after{
			border-top-color: lighten(@revoladeBlue, 25%);
		}

		
	}

	.vertical-nav{
		position: absolute;

		ul{
			list-style: none;
			position: absolute;
			left: 865px;
			top: 550px;

			li{
				height: 15px;
				width: 15px;
				border-radius: 50%;
				background: white;
				border: solid 1px @revoladeBlue;
				margin-bottom: 5px;
			}

			li.active{
				background: @revoladeRed;
			}
		}
	}

	li{
		color: @revoladeBlue;
		line-height: 30px;

		span{
			color: #000;
		}

		ul{
			list-style-image:url('../media/images/line.png');
			padding-left: 25px;

			li{
				line-height: 25px;
			}
			
			// li:before{
			// 	content:"–";
			// 	position:relative; 
			// 	left:-5px;
			// }
		}

	}

	
	.gsk-logo{
		height: 57px;
		width: 150px;
		background: url(../media/images/gsk-logo.png);
		position: absolute;
		bottom: 70px;
		right: 30px;
	}

	.wrapper{
		height: 100%;
		margin: 0 auto;
		width: 880px;
	}

	.white-sheet{
		height: 100%;
		width: 100%;
		background: rgba(255, 255, 255, 0.8);
		float:left;
	}

	.arrow_box {
	position: relative;
	background: #492f92;
	}

	.arrow_box:after {
		right: 100%;
		top: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(73, 47, 146, 0);
		border-right-color: #492f92;
		border-width: 5px;
		margin: -5px 0 0 0;
	}
	.arrow_box.active:after {
		border-right-color: lighten(@revoladeBlue, 25%);
	}

	.arrow_box:first-child:after{
		top: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(73, 47, 146, 0);
		border-top-color: #492f92;
		border-width: 5px;
		margin: 0 0 0 -5px;
	}

	.title-bar {
		position: relative;
		width: 1024px;
	}

	.title-bar:after {
	  content: "";
	  position: absolute;
	  bottom: -3px;
	  left: -3px;
	  right: -3px;
	  height: 4px;
	}

	.title-bar.blue:after {
	  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(@revoladeBlue), to(transparent));
	  background-image: -webkit-linear-gradient(left, @revoladeBlue, transparent);
	}

	.title-bar.red:after {
	  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(@revoladeRed), to(transparent));
	  background-image: -webkit-linear-gradient(left, @revoladeRed, transparent);
	}

	.chapter-header{
		.title-bar{
			top: 360px
		}

		.chapter-title{
			float: left;
			margin-top: 180px;

			div{
				float: left;
			}

			.chapter-num{
				font-size: 111px;
				color: @revoladeBlue;
				line-height: 104px;
			}

			.title-1{
				font-size: 54px;
				color: @revoladeRed;
				position: relative;
				bottom: 18px;
			}

			.title-2{
				font-size: 36px;
				color: @revoladeGrey;
				position: relative;
				bottom: 18px;
			}
		}

		.one-line{
			.title-1{
				margin-top: 31px;
				position: static;
			}
		}

		.two-line{
			.title-1{
				position: absolute;
				left: 214px;
				bottom: 450px;
			}
			.title-2{
				position: absolute;
				bottom: 414px;
				left: 214px;
			}
		}
	}

	.module-header{

		.module-title{
			color: @revoladeRed;
			margin-top:70px;

			.title-1{
				font-size: 36px
			}
			.title-2{
				font-size: 42px
			}
		}
	}

	.swipe-prev{
		height: 45px;
		width: 34px;
		position: absolute;
		top: 388px;
		left: 85px;
		background: url(../media/images/revolade_buttons_sprite.png);
		background-position: -322px 54px;
		border: none;
	}

	.swipe-next{
		height: 45px;
		width: 34px;
		position: absolute;
		top: 388px;
		right: 85px;
		background: url(../media/images/revolade_buttons_sprite.png);
		background-position: -372px 54px;
		border: none;
	}

	.small-print{
		font-size: 12px;
		color: #555555;
		// clear: both;
		
		span{
			color: @revoladeRed;
		}

	}

	.disable-sa{
		position: absolute;
		height: 520px;
		width: 770px;
		z-index: 200;
		left: 130px;
	}

	.content-slide .content-container > ul > li{
		margin-bottom: 10px;
	}

	.content-slide{
		background: url(../media/images/content-slide-bg.png) no-repeat #fff;
		background-position-y: 20px;
		height: 768px;

		.title-bar{
			top: 135px;
		}

		.slide-title{
			margin-top: 85px;
			font-size: 38px;
			float: left;
		}

		.slide-title.two-line{
			margin-top: 45px;
		}

		.slide-title.red{
			color: @revoladeRed;
		}

		.slide-title.blue{
			color: @revoladeBlue;
		}

		.content-container{
			float:left;
			width: 100%;
			margin-top: 25px;
			font-size: 20px;

			.content-left{
				width: 49%;
				float:left;
				padding-right: 0.5%;
			}

			.content-left > ul > li {
				margin-bottom: 10px;
			}

			.content-right{
				width: 49%;
				float:left;
				padding-left: 0.5%;
				margin-bottom:0;
				overflow: hidden;

				img{
					margin-top:5px;
					width: 100%;
				}
			}

			


			table{
				width: 100%;
				border-collapse: collapse;
				
				tr:first-child{
					height: 51px;
					color: #FFF;
					font-size: 20px;
				}

				th{
					text-align: left;
					padding-left: 12px;
					border-left: solid 1px @revoladeRed;
					border-right: solid 1px @revoladeRed;
				}

				tr{

					td{
						padding: 8px;
						border-left: solid 1px @revoladeRed;
						border-right: solid 1px @revoladeRed;
					}
				}

				
			}

			table.wide{
				th{
					text-align: center;
				}
				img{
					width: 860px;
				}

				img.small{
					width: 45px;
				}
			}

			table.red{
				overflow: auto;
				-webkit-overflow-scrolling: touch;
				border-bottom: solid 1px @revoladeRed;

				tr:first-child{
					background: @revoladeRed;
				}
				th{
					border-left: solid 1px @revoladeRed;
					border-right: solid 1px @revoladeRed;
				}
				td{
					border-left: solid 1px @revoladeRed;
					border-right: solid 1px @revoladeRed;
				}
				td:first-child{
					// color: @revoladeRed;
				}
				.odd{
					background:lighten(@revoladeRed, 50%)
				}
			}

			table.blue{
				tr:first-child{
					background: @revoladeBlue;
				}
				th{
					border-left: solid 1px @revoladeBlue;
					border-right: solid 1px @revoladeBlue;
					vertical-align: middle;
				}
				td{
					border-left: solid 1px @revoladeBlue;
					border-right: solid 1px @revoladeBlue;
				}
				td:first-child{
					color: @revoladeBlue;
				}
				.odd{
					background:lighten(@revoladeBlue, 50%)
				}
			}

			table.small{
				font-size: 14px;
			}

		}

		.content-container.glossary{
			span{
				font-family: 'Helvetica-Bold';
				color: @revoladeRed;
			}
			.swipe-next{
				right: 20px;
			}
			.swipe-prev{
				left: 20px;
			}
		}

		.references-button{
			height:35px;
			width:36px;
			position: absolute;
			top: 640px;
			right: 10px;
			background:url(../media/images/revolade_buttons_sprite.png);
			background-position: -126px 104px;
		}

		.information-button{
			height:35px;
			width:36px;
			position: absolute;
			top: 640px;
			left: 895px;
			background:url(../media/images/revolade_buttons_sprite.png);
			background-position: -175px 104px;
		}
	}

	

	//slides

	.home-slide{

		.revolade-logo{
			height: 96px;
			width: 325px;
			background: url(../media/images/revolade-logo.png);
			position: absolute;
			top: 85px;
			right: 50px;
		}

		.slide-title{
			margin-top: 30px;

			div:first-child{
				color: @revoladeRed;
				font-size: 35px
			}
			div:nth-child(2){
				color: @revoladeBlue;
				font-size: 87px
			}
			div:nth-child(3){
				color: @revoladeGrey;
				font-size: 37px
			}

		}

		.mod-title{
			width: 655px;
			margin-top: 60px;
			margin-bottom: 28px;

			button{
				.red-button;
				.big-red;
				margin-top:25px;
			}

		}

		

	}

	.slide-sa{

		.swipe{
			height: 520px;
			width: 720px;
			margin: 0 auto;
		}

		.question{
			background: #ebebeb;
			padding: 20px;
			height: 420px;
			width: 650px;
			margin: 0 auto;
			font-size: 22px;

			h2{
				margin-top: 0;
				color: @revoladeBlue;
				font-weight: normal;			
			}

			.answer{
				background: #fff;
				width: 630px;
				height: 60px;
				margin-bottom: 15px;
				border: none;
				text-align: left;
				padding-left: 40px;
				font-size: 22px;
				font-family: 'Helvetica-Condensed';
			}
			.answer.active{
				background: lighten(@revoladeRed, 40%);
				transition: background 1s;

			}
		}

		.submit{
			width: 180px;
			height: 45px;
			// float: right;
			// margin-right: 15px;
			// margin-top: 15px;
			font-size: 16px;
			background: @revoladeBlue;
		}

		

		.question-overlay{
			height: 100%;
			width: 100%;
			background: rgba(255, 255, 255, 0.5);
			position: absolute;
			top: 0;
			-webkit-animation: fadein 2s;
			

			.response {
				text-align: center;
				font-size: 90px;
				display: table-cell;
				width: 720px;
				height: 520px;
				vertical-align: middle;
			}

			.correct{
				color: green;
			}

			.incorrect{
				color: red;
			}
		}

		.summary-section{

			.mod-results{
				display: none;
			}

			ul{
				list-style:none;
				float: left;

				li{
					color: #000;
				}

				span.correct{
					color: green
				}

				span.incorrect{
					color: red;
				}
			}
			
		}

	}

	.slide-g-1-1{
		.nav{
			position: absolute
		}
	}


}


.dynamic-content {

	.mood-indicator-negative-blocked{
		top:25px;		
	}

	.mood-indicator-positive-blocked{
		top:25px;
	}

	.nav_bottom{
		background-color: #4a4a4a;
	}
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}